@media screen and (max-width:720px) {
    
    #hero{
        display: block;
    }
    .row h1{
        
        width: 100%;
    }
    
    .col img{
        width: 338px;
    }
    .out{
        width: 100% !important;
        display: flex;
    }
    .out button{
        margin: 10px !important;
    }
    .row p{ 
        width: 80% !important;
        font-size: 15px;
    }
    .icons{
        gap: 15px !important;
        padding-left: 30px !important;
    }
    .social-icon{
        padding: 5px !important;
    }
    #last{
        height: auto;
    }
    
    #last .row2{
      display: block;
      margin-bottom: 5px;
    }
    .col1{
        padding-left: 0px !important;
    }
    .div h3 {
        
    }
    .col2{
        margin-top: 20px;
    }
    .div{
        padding-left: 0px;
        
    }
    .div p {
        width: 15em !important;
    }
    iframe {
        width: 300px !important;
      }
    .btn2{
        width: 100%;
        padding-top: 20px !important;
        margin-bottom: 20px;
    }
    .copy{
        font-size: 16px;
    }
    
}